.card {
    height: 550px;
    border: 2px solid #383737;
}

h1,
h3,
h5{
    text-shadow: 2px 2px #383737;
    color: white;
}

#content-container {
    background-color: rgb(196, 190, 190, .8);
    margin: 0px 50px 0px 50px;
}

.input-field label,
.input-field input[type=text]:focus,
.input-field input[type=text]:focus+label {
    color: #000;
}

#movie-header,
#tv-header,
#suggestTV-header,
#favorite-movie-header,
#favorite-movie-btn{
    display: none;
}

#start-date-div,
#end-date-div{
    background-color: rgb(255, 255, 255, .8);
    width: 50%;
    padding: 10px;
}
.card .card-title {
    color: #383737;
    text-shadow: -1px 1px #8d8b8b;
}
#see-favorite-movie-btn{
    padding-top: 20px;
}

.change-page-content-btn{
        font-size: 20px;
        text-shadow: 2px 2px #383737;
        border-radius: 10px;
}
.sidenav {
    background-color: rgb(196, 190, 190, .8);
    border: 2px solid white;
}

.sidenav-trigger {
    background-color: rgb(196, 190, 190, 1);
    padding: 10px;
}

@media (max-width: 768px) {
    .card .card-title {
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .card .card-title {
        font-size: 15px;
    }
}


