/* Change cursor to pointer */
.artist-item {
  cursor: pointer;
}

.song-item {
  cursor: pointer;
}

.results {
  /* border: 1px solid lightgray; */
  border-radius: 10px;
  /* flex-wrap: wrap; */
  align-content: space-around;
  background-color: rgb(196, 190, 190, 0.8);
  margin: auto 10%;

  /* padding: 20px; */
}

.card {
  border: 2px solid #383737;
}

#button-row {
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  opacity: 0.9;
  border-radius: 10px;
}

#top-artists-button {
  margin-left: 15px;
}

#autocomplete-artist-input {
  opacity: 0.4;
}

#autocomplete-song-input {
  opacity: 0.4;
}

.material-icons {
  color: #1a237e !important;
}

.material-icons.active {
  color: #b71c1c !important;
}

.input-field input[type="text"] + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #1a237e !important;
}

.input-field input[type="text"],
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1a237e !important;
  box-shadow: 0 1px 0 0 #1a237e !important;
}

.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #b71c1c !important;
}

.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #b71c1c !important;
  box-shadow: 0 1px 0 0 #b71c1c !important;
}
