
/*-- news stylings --*/
.sidenav {
    background-color: rgb(196, 190, 190, .8);
    border: 2px solid white;
  }
  
  .sidenav-trigger { 
    background-color: rgb(196, 190, 190, 1);
    padding: 10px;
  }
body {
    text-align: center;
    align-content: center;
}
.news-item {
    text-align: center;
    height: 400px;
}

#intro-text {
border-radius: 10px;
border: 1px solid lightgray;
flex-wrap: wrap;
align-content: space-around;
background-color: rgb(196, 190, 190, .8);
margin-left: 0;
margin-right: 0;
}
#search-bar {
    padding: 2%;
    margin-left: 20%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(226, 226, 226, 0.8);
    width: 60%;
}
#news-query-input {
    border-radius: 10px;
    width: 50%;
    border-bottom: 1px solid rgba(255, 82, 82, 0.4);
}
#news-query-input:hover { 
    
    background-color: rgba(255, 82, 82, 0.4);
}
#news-query-input:focus { 
    border-bottom: 1px solid rgba(255, 82, 82);
    background-color: rgba(255, 82, 82, 0.2);
}
.card-image {
    border-radius: 10px;
    width: auto;
    height: 150px;

}
#results {
display: none;
border-radius: 10px;
border: 1px solid lightgray;
flex-wrap: wrap;
align-content: space-around;
background-color: rgb(196, 190, 190, .8);
}
