
/*-- news stylings --*/
body {
    text-align: center;
    align-content: center;
}
.news-item {
    border-radius: 10px;
    text-align: center;
    height: auto;
}

#intro-text {
border-radius: 10px;
border: 1px solid lightgray;
flex-wrap: wrap;
align-content: space-around;
background-color: rgb(196, 190, 190, .8);
margin-left: 0;
margin-right: 0;
}

#search-bar {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(226, 226, 226, 0.8);
    width: 60%;
}
#news-query-input {
    border-radius: 10px;
    width: 50%
}
#news-query-input:hover { 
    
    background-color: rgba(38, 166, 154, 0.4);
}
#news-query-input:focus { 
    background-color: rgba(38, 166, 154, 0.2);
}

#results {
display: none;
border-radius: 10px;
border: 1px solid lightgray;
flex-wrap: wrap;
align-content: space-around;
background-color: rgb(196, 190, 190, .8);
}