.nav-item {
    color: white;
}

.jumbotron {
    margin-bottom: 0px;
}

.media-body {
    justify-content: center;
    align-self: center;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
}

/*----------------------------Movie/TV Page-----------------------------*/
.card {
    margin: 2%;
    display: inline-flex;
}