.brand-logo {
  padding: 20px;
  text-shadow: 2px 2px #383737;
  font-size: xmedium;
}

body {
  background: url('../images/background.jpg') no-repeat center center fixed; 
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%; 
  background-size: 100% 100%;
}

.nav-wrapper {
  background-color: rgb(19, 7, 179);
  font-family: 'Comfortaa', cursive;
  text-shadow: -1px 1px #383737;
}


body {
  font-family: 'Barlow', sans-serif;
}

.media {
  margin: 5% auto;
  width: 90%;
  padding: 10px;
}

.card-panel {
  border-radius: 10px;
}

.sidenav {
  background-color: rgb(196, 190, 190, .8);
  border: 2px solid white;
}

.sidenav-trigger { 
  background-color: rgb(196, 190, 190, 1);
  padding: 10px;
}


@media only screen and (max-width: 414px){
  .brand-logo {
    font-size: medium!important;
  }  
}


